layout {
    pane size=1 borderless=true {
        plugin location="zellij:tab-bar"
    }
    pane

    tab_template name="ui" {
    pane size=1 borderless=true {
        plugin location="zellij:tab-bar"
    }
    children
    }

    swap_tiled_layout name="vertical" {
        ui max_panes=4 {
            pane split_direction="vertical" {
                pane
                pane stacked=true { pane; pane; }
            }
        }
        ui max_panes=5 {
            pane split_direction="vertical" {
                pane stacked=true { pane; pane; }
                pane stacked=true { pane; pane; }
            }
        }
        ui max_panes=6 {
            pane split_direction="vertical" {
                pane stacked=true { pane; pane; }
                pane stacked=true { pane; pane; pane; }
            }
        }
        ui min_panes=7 {
            pane split_direction="vertical" {
                pane stacked=true { pane; pane; pane; }
                pane stacked=true { children; }
            }
        }
    }

    swap_tiled_layout name="interaction" {
        ui max_panes=4 {
            pane split_direction="vertical" {
                pane size="80%"
                pane size="20%"
            }
        }
        ui max_panes=5 {
            pane split_direction="vertical" {
                pane stacked=true size="40%" { pane; }
                pane stacked=true size="40%" { pane; pane; }
                pane size="20%"
            }
        }
        ui max_panes=6 {
            pane split_direction="vertical" {
                pane stacked=true size="40%" { pane; pane; }
                pane stacked=true size="40%" { pane; pane; }
                pane size="20%"
            }
        }
        ui max_panes=7 {
            pane split_direction="vertical" {
                pane stacked=true size="40%" { pane; pane; }
                pane stacked=true size="40%" { pane; pane; pane; }
                pane size="20%"
            }
        }
        ui min_panes=8 {
            pane split_direction="vertical" {
                pane stacked=true size="40%" { pane; pane; pane; }
                pane stacked=true size="40%" { children; }
                pane size="20%"
            }
        }
    }

    swap_tiled_layout name="alone" {
        ui {
            pane split_direction="vertical" {
                pane stacked=true size="80%" { children; }
                pane size="20%"
            }
        }
    }

    swap_floating_layout name="staggered" {
        floating_panes
    }

    swap_floating_layout name="enlarged" {
        floating_panes max_panes=10 {
            pane { x "5%"; y 1; width "90%"; height "90%"; }
            pane { x "5%"; y 2; width "90%"; height "90%"; }
            pane { x "5%"; y 3; width "90%"; height "90%"; }
            pane { x "5%"; y 4; width "90%"; height "90%"; }
            pane { x "5%"; y 5; width "90%"; height "90%"; }
            pane { x "5%"; y 6; width "90%"; height "90%"; }
            pane { x "5%"; y 7; width "90%"; height "90%"; }
            pane { x "5%"; y 8; width "90%"; height "90%"; }
            pane { x "5%"; y 9; width "90%"; height "90%"; }
            pane focus=true { x 10; y 10; width "90%"; height "90%"; }
        }
    }

    swap_floating_layout name="spread" {
        floating_panes max_panes=1 {
            pane {y "50%"; x "50%"; }
        }
        floating_panes max_panes=2 {
            pane { x "1%"; y "25%"; width "45%"; }
            pane { x "50%"; y "25%"; width "45%"; }
        }
        floating_panes max_panes=3 {
            pane focus=true { y "55%"; width "45%"; height "45%"; }
            pane { x "1%"; y "1%"; width "45%"; }
            pane { x "50%"; y "1%"; width "45%"; }
        }
        floating_panes max_panes=4 {
            pane { x "1%"; y "55%"; width "45%"; height "45%"; }
            pane focus=true { x "50%"; y "55%"; width "45%"; height "45%"; }
            pane { x "1%"; y "1%"; width "45%"; height "45%"; }
            pane { x "50%"; y "1%"; width "45%"; height "45%"; }
        }
    }
}
